html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}
.remora-logo {
  width: 48px;
  height: 48px;
  border-radius: 24px;
  margin: auto;
}
.remora-layout .mdl-layout__header .mdl-layout__drawer-button {
  color: rgba(0, 0, 0, 0.54);
}

.remora-drawer {
  border: none;
}
/* iOS Safari specific workaround */
.remora-drawer .mdl-menu__container {
  z-index: -1;
}
.remora-drawer .demo-navigation {
  z-index: -2;
}
  /* END iOS Safari specific workaround */
.remora-drawer .mdl-menu .mdl-menu__item {
  display: flex;
  align-items: center;
}
.remora-drawer-header {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 16px;
  height: 151px;
}

.remora-navigation {
  flex-grow: 1;
}
.remora-layout .remora-navigation .mdl-navigation__link {
  display: flex !important;
  flex-direction: row;
  align-items: center;
  color: rgba(255, 255, 255, 0.56);
  font-weight: 500;
}
.remora-layout .remora-navigation .mdl-navigation__link:hover {
  background-color: #00BCD4;
  color: #37474F;
}
.remora-navigation .mdl-navigation__link .material-icons {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.56);
  margin-right: 32px;
}

.remora-content {
  max-width: 1200px;
}

.remora-cards {
  align-items: flex-start;
  align-content: flex-start;
}
.remora-cards .remora-separator {
  height: 32px;
}

.remora-cards .mdl-card__title.mdl-card__title {
  color: white;
  font-size: 24px;
  font-weight: 400;
}
.remora-cards ul {
  padding: 0;
}
.remora-cards h3 {
  font-size: 1em;
}

.remora-zone-all .mdl-card__title {
  min-height: 80px;
}

.remora-zone.mdl-card {
  width: auto;
}

.remora-zone .mdl-card__title {
  min-height: 100px;
}
.remora-zone .mdl-card__title .mdl-grid {
  width: 100%;
  margin: 0;
  padding: 0;
}
.remora-zone .mdl-card__title .remora-separator-vertical {
  width: 32px;
}
.remora-zone .mdl-card__title .mdl-grid span.icon {
  font-size: 3.5em;
}

.remora-tinfo-bar .mdl-card__title {
  min-height: 80px;
}
.remora-tinfo-bar .mdl-card__actions h6.mdl-card__subtitle-text {
  text-align: center;
  color: rgba(0, 0, 0, 0.75);
}
.remora-tinfo-bar .mdl-progress {
  width: auto;
  height: 12px;
}
.remora-tinfo.mdl-data-table {
  margin: 8px;
}
.remora-tinfo.mdl-data-table th {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.7);
}
.remora-tinfo.mdl-data-table .mdl-data-table__cell--center {
  text-align: center;
}


.remora-updates .mdl-card__title {
  min-height: 200px;
  background-image: url('images/dog.png');
  background-position: 90% 100%;
  background-repeat: no-repeat;
}
.remora-cards .mdl-card__actions a {
  color: #00BCD4;
  text-decoration: none;
}
  
.remora-options h3 {
  margin: 0;
}
.remora-options .mdl-checkbox__box-outline {
  border-color: rgba(255, 255, 255, 0.89);
}
.remora-options ul {
  margin: 0;
  list-style-type: none;
}
.remora-options li {
  margin: 4px 0;
}
.remora-options .material-icons {
  color: rgba(255, 255, 255, 0.89);
}
.remora-options .mdl-card__actions {
  height: 64px;
  display: flex;
  box-sizing: border-box;
  align-items: center;
}